:root {
    --yellow: rgb(255, 196, 0);
    --grey1: rgb(80, 80, 80);
    --grey2: rgb(45, 45, 45);
}

body {
    margin: 0;
    font-family: celtic2;
    background-color: var(--grey1)
}

@font-face {
    font-family: celtic;
    src: url(./src/Fonts/celtic_md/celticmd.ttf);
}

@font-face {
    font-family: celtic2;
    src: url(./src/Fonts/celtic_garamond_2nd/CELTG___.TTF);
}

@font-face {
    font-family: celtic3;
    src: url(./src/Fonts/celtica/Celtica-Book.ttf);
}

::-webkit-scrollbar {
    width: 20px;
    background-image: linear-gradient(var(--grey2), var(--grey1));
}

::-webkit-scrollbar-thumb {
    background-image: url(./src/img/scrollbar.png), linear-gradient(100deg, transparent, transparent);
    background-repeat: round;
    background-size: contain;
}

ul,
li {
    list-style: none;
}

p {
    color: white;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 20px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: celtic;
    position: fixed;
    height: 60px;
    z-index: 1;
    border-bottom: thin solid var(--yellow);
}

header>a {
    color: var(--yellow);
    font-size: 32px;
    width: 100%;
    text-align: center;
    background-color: green;
    padding: 10px 0;
}

header>a:hover {
    background-color: rgb(0, 67, 0);
}

header>a:active {
    background-color: rgb(79, 126, 79);
}

main {
    position: relative;
    top: 60px;
}

#adrian-presentation {
    width: 100%;
    height: 700px;
    background-image: url(./src/img/Adrian-von-Ziegler-Picture.jpg);
    background-position: center;
}

@keyframes emergence {
    0% {
        opacity: 0;
        left: -200px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

#adrian-presentation>div {
    position: relative;
    top: 70%;
    margin-left: 50px;
    animation-name: emergence;
    animation-duration: 2s;
    color: white;
}

#adrian-presentation>div>h1 {
    font-size: 72px;
}

main>div {
    background-color: rgb(45, 45, 45);
}

#biography {
    border: 30px solid transparent;
    padding: 15px 15px 0 15px;
    border-image: url(./src/img/border-knot.png) 150 round;
}

#biography>h1 {
    color: var(--yellow);
    text-align: center;
    font-size: 48px;
    padding: 30px 0 20px 0;
    border-bottom: thin solid var(--yellow);
    width: 50%;
    margin: auto;
}

#biography>p {
    font-size: 18px;
    text-align: justify;
    margin: 2%;
}

#biography>h2 {
    color: var(--yellow);
    margin-left: 4%;
    margin-bottom: 0;
}

#discography>h1 {
    color: var(--yellow);
    text-align: center;
    font-size: 48px;
    padding: 70px 0 20px 0;
    border-bottom: thin solid var(--yellow);
    width: 50%;
    margin: auto;
}

#discography>ul {
    margin-left: 40%;
}

#discography>ul>li::before {
    content: "";
    width: 20px;
    height: 20px;
    background: green;
    border: thick solid var(--yellow);
    border-radius: 50%;
    position: absolute;
    left: -18px;
    top: 0px;
}

#discography>ul>li {
    padding: 0;
    padding-bottom: 20px;
    width: 50%;
    border-left: thick solid var(--yellow);
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

#discography>ul>li:last-child {
    padding-bottom: 100px;
}

#discography>ul>li>h2 {
    color: var(--yellow);
    margin-left: 5%;
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
}

.links>a {
    margin: 20px;
    color: white;
}

.links>a:hover {
    color: rgb(128, 128, 128);
}

audio {
    position: fixed;
    z-index: 1;
    border-radius: 0px;
    bottom: 0;
    width: 95%;
    opacity: 0.6;
}

.remove-btn {
    position: fixed;
    z-index: 1;
    border-radius: 0px;
    bottom: 0;
    right: 0;
    width: 5%;
    height: 55px;
    border-radius: 50px;
    opacity: 0.6;
    font-size: 24px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--grey2);
    width: 100%;
    position: relative;
    background-color: green;
    border-top: thin solid var(--yellow);
    padding: 20px 0;
}

footer > a {
    margin: 0 20px;
}

footer > a > img{
    width: 50px;
}